.body{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 2rem 6rem
};
   
.upper-part{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.life-image{
    width: 100%;
    height: 30vh;
    object-fit: cover;
   
}

.second-part{
    display: grid;
    grid-template-columns: repeat(3,1fr);
   
    column-gap: 1rem;
}
.lifeblood{
    width: 20vw;
    object-fit: cover;
}

.forth-image{
    object-fit: cover;
    width: 100%;
    height: 30vh;
}


.third{
    display: flex;
    gap: 1rem;
    justify-content: center;
   
}
.world{
    display: flex;
    flex-direction: column;
}
.fourth{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}
.fourth{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.box-9{
    cursor: pointer;
    margin-top: 2rem;
    background-color: #00a651;
    padding: 0.3rem 2rem;
    text-align: center;
    display: inline-block;
   transform: translateX(100%);
}
.carousel{
    display: none;
}
.carousel-caption{
    position: unset;
}
.last-text{
    align-self: center;
    justify-self: center;
    text-align: center;
}
.inner-text{
color: #fff;
text-decoration: none;
}
.inner-text:hover{
    color: #fff;
}
@media only screen and (max-width:960px){
    .body{
        flex-direction: column;
        padding: 2rem 1rem;
    }
    .lifeblood{
        width: 30vw;
    }
    
}
@media only screen and (max-width: 580px){
    .left-part{
        display:none;
    }
    .carousel{
        display: block;
        overflow: hidden;
    }
    .carousel-image{
        overflow: hidden;
        width: 100%;
    }
    .carousel-caption{
        position: unset;
    }
    .text{
        color: black;
    }
}