.main {
    background-image: url(./img/main-img.png);
    background-size: cover;
    background-position: center;
    height: 60vh;
}

.main-text {
    /* position: absolute;
    top: 2rem;
    left: 3rem; */
  padding: 4rem 0 0 2rem;
    text-align: start;
    
}

.text-head {
    font-family: 'Richie Brusher', sans-serif;
    color: #ff0088;
    font-size: 3rem;
}

.text-name {
    font-size: 1.5rem;
    color: #10d869;
    font-weight: 700;
}

.shop-now {
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    background-color: #ff0088;
    padding: 0.3rem 1rem;
    width:fit-content;
}

.shop-now:hover {
    scale: 1.1;
    transition: all .3s ease;
}

.filter-container {
    padding: 1rem 0;
    border-bottom: 3px solid #eee;
    text-align: center;

}

.filter {
    font-size: 1.4rem;
    display: inline;
    cursor: pointer;
   
}

.filter:hover {
    border-bottom: 3px solid black;
}

.main-items {
    font-family: "Roboto", sans-serif ;
    cursor: pointer;
    font-size: 15px;
   

}

.main-items:hover {
    color: #10d869;
}
.first-row{
    
}
.store-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 1.5rem;
    transition: all .3s;
    margin-top: 2rem;
   
}
.gallary-container {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: 1rem;
   
}

.view{
font-size: 20px;
color:#fff;
font-family: "Oswald-regular", sans-serif;
background-color:  #00a651;
position: absolute;
/* top: 28%;
left: 32%;*/
padding: 1px 18px; 
text-align: center;
opacity: 1;
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
cursor: pointer;
opacity: 1;
}
.view:hover{
    color: white;
}

.store-gallary {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.gallary-image {
    background-color: #eee;
    height:12rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
    overflow: hidden;
    cursor: pointer;
    transition: all .2s;
}
.gallary-image-2 {

    background-color: #eee;
    height:12rem ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
    overflow: hidden;
    transition: all .2s; 
    transition: all .2s ;
    border: 2px solid #00a651;
    transition: all .5s ease;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    margin-right: 0;
    width: 100%;
   display: none;
   transition: all .5s ease;
}
.gallary-container:hover .overlay{
    display: block;
    transition: all .5s ease;
   
}
.gallary-container:hover .original{
    display: none;
    transition: all .5s ease;
}

    .original:hover{
        visibility: hidden;
        transition: all .3s ease;
    }


.store-image {
   
    height:70%;
    transition: all .3s ease;
    width:6rem;
}
.overlay-image{
   
    height:70%;
    transition: all .3s ease;
    filter: opacity(0.1);
    width:6rem;
}
.store-text{
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    
}
.special{
    padding-right: 50px;
}


.store-image:hover {

}
.gallary-text {
    margin-top: 1rem;
}


.price {
    font-family: "Oswald-regular", sans-serif;
    font-size: 16px;
    color: #00a651;
    
}
.price-2{
    font-family: "Oswald-regular", sans-serif;
    font-size: 16px;
    color: #00a651;
    font-weight: 600;
}
.cart{
    position: absolute;
    bottom: 1px;
    font-size: 23px;
    color: #10d869;
    font-weight: 600;
   z-index: 200;
}
.store-list{
    margin: 2rem 0 6rem;
    background-color: rgba(238, 238, 238, 0.507);
    padding: 2rem 0;
    text-align: center;
}
.fa-cart-shopping{
    color: #10d869;
    font-size: 28px;
display: block;
    height: 20px;
    width: 20px ;
}
@media only screen and (max-width: 991px){
    .store-text{
        font-size: 12px;
    }
    .view{

        font-size: 15px;
    }

    .special{
        padding-right: 0;
    } 
}
@media only screen and (max-width: 767px){
    .store-container{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        gap: 1rem;
        transition: all .3s;
    }
    .special{
        padding-right: 0;
    } 
    

    .text-head{
        font-size: 1.5rem;
    }
    .shop-now{
        font-size: 0.8rem;
    }
    .text-name{
        font-size: 0.8rem;
    }
    .main{
        height: 40vh;
    }

}
@media only screen and (max-width: 500px){
    .store-container{
        /* grid-template-columns: 1fr;
        grid-template-rows: auto;
        transition: all .3s; */
    }
    .view{
       
    }
    .main{
        height: 35vh;
    }
   

}