.highlife-black{
    background-color: black;
   

}
.highlife-top{
height: 30rem;
width: 100%;
padding: 1rem 0 1rem 1rem;
object-fit: cover;
text-align: center;

}
.highlife-container{
    
}
.highlife-img{
    width: 100%; 
    object-fit: cover;
       height: 15rem;
       padding: 1rem;
       
}
.highlife-text{
text-align: start;
}
.highlife-price{
    color: #10d869;
    font-size: 1.2rem;
    font-weight: 600;
}
/* @media only screen and (max-width: 765px) {
    .highlife-img{
        width: 30rem;
    }
} */