.highlife-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.highlife-black {
    background-color: black;
    


}

.highlife-top {
    height: 90vh;
    width: 100%;
    padding: 4rem 1rem 4rem 4rem;
    object-fit: cover;
    text-align: center;

}
.highlife-calton{
    color: #fff;
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
}
.highlife-top-text{
    font-family: "Oswald-regular", sans-serif;
    color: #fff;
    font-size: 27px;
    
    padding-top: 1rem;
}
.highlife-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.now-playing {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin: 2rem 0 4rem;


}

.now-playing-items {
    position: relative;
}

.highlife-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
}

.highlife-img {
    width: 100%;
    object-fit: cover;
    height: 23vh;
}

.now-playing-items:hover .highlife-overlay {
    display: block;
}

.now-playing-items:hover .highlife-original {
    display: none;
}

.effect {
    font-family: "Oswald-regular", sans-serif;
    font-size: 15px;
    color: #fff;
    background-color: #00a651;
    position: absolute;
   text-decoration: none;
    padding: 5px 20px;
    text-align: center;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.effect:hover{
    color: #fff;
}
.now-playing-text{
    font-family: "Karla bold", sans-serif;
    font-weight: 600;
}

.highlife-img-2 {
    width: 100%;
    object-fit: cover;
    height: 23vh;
    background-color:#00a651;
    filter: opacity(50%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
    overflow: hidden;
    transition: all .2s;
    transition: all .2s;
    border: 2px solid #00a651;
    transition: all .5s ease;

}

.highlife-text {
    text-align: start;
}

.highlife-price {
    color: #10d869;
    font-size: 1.2rem;
    font-weight: 600;
}
@media only screen and (max-width: 991px){
.effect{
    font-size: 13px;
  
}
.now-playing-text{
    font-size: 14px;
}
.highlife-price{
    font-size: 13px;
}
}

@media only screen and (max-width: 767.50px) {
    .highlife-top {
        height: 60vh;
        padding: 0;
    }
}

@media only screen and (max-width: 767px) {
    .highlife-black{
       
    }
    .now-playing {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        transition: all .3s;
    }
    .effect{
        font-size: 15px;
       
        
       }

}

@media only screen and (max-width: 580px) {
   .effect{
    font-size: 15px;
    
   }

}