.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10rem;
}
button{
    height: 3rem;
    background-color: black;
    color: #fff;
}
.footer-head{
    border-bottom: 2px solid #333;
    padding-bottom: 5rem;
}

.footer-text2{
    font-family: "Oswald-regular", sans-serif;
    font-size: 1.5rem;
    color:#565656;
    letter-spacing: -2px;
}
.footer-text{
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    color: #333;
    font-size: 3rem;
    letter-spacing: -1px;
    font-size: 2rem;
}
input{
    
    width: 40%;
    height: 3rem;
}
.footer-link{
    
    padding: 3rem 1rem;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
align-items: center;
color: #555;

}
.footer-items{
    font-family: 'Oswald', sans-serif;
    font-size: 1.7rem;
    list-style: none; 
    letter-spacing: -1px;
    color: #333;
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
    
    
}
.footer-items:hover{
    color: black;
    border-bottom: 3px solid black;
    margin-top: 3px;
    display: inline;
}
.copy{
    font-weight: 500;
    font-size: 1rem;
    color:black;
}
@media only screen and ( max-width: 830px){
    .footer-link{
        flex-direction: column;
    }
}